* {
	margin: 0;
	padding: 0;
}

.container {
	min-height: 100vh;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 90px 60px 5fr 50px;
	gap: 4px;
}

.container div {
	padding: 15px;
	font-size: 32px;
	font-family: Helvetica;
	font-weight: bold;
	color: white;
}

.header {
	background-color: #393f4d;
	grid-column: 1/-1;
	grid-row: 1/2;

	/* inner layout */
  border: 2px solid ;
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
}

.logo {
	justify-self: start;
}
.menu ul,
.menu li {
	font-size: 16px;
	list-style-type: none;
}

.menu ul {
	/* border: 2px solid red; */
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.sidebar {
	background-color: #c50208;
	grid-row: 2/4;
	grid-column: 1/2;

	/* inner layout */
	display: grid;
	grid-row: repeat(4, 1fr);
	gap: 50px;
}

.sidebar .photo {
	background-color: white;
	color: black;
	font-size: 12px;
	font-weight: normal;
	border-radius: 10px;
}

.photo,
.side-content {
	/* inner layout */
	display: grid;
	place-items: center;
}

.sidebar .side-content {
	background-color: white;
	color: black;
	font-size: 16px;
	font-weight: normal;
}

/* ||NAV */

.nav {
	background-color: #c50208;
	grid-column: 2/-1;
	grid-row: 2/3;
	/* border: 2px solid orange; */
}
/* inner Layout */
.nav ul {
	/* border: 2px solid black; */
	/* border: 2px solid; */
	height: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	place-items: center;
}

.nav ul li {
	/* border:2px solid white; */
	font-size: 16px;
	text-transform: uppercase;
	list-style: none;
}

/* ARTICLE */
.article {
	background-color: #bccbde;

	/* inner layout */
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 15px;
}

.article p {
	font-size: 18px;
	font-family: sans-serif;
	color: white;
	text-align: left;
}
.card {
  height: 200px;
}

.article .card {
	background-color: #ffffff;
	color: black;
	text-align: center;
}

.card p {
	color: black;
	font-weight: normal;
	font-size: 14px;
}

.card .title {
	font-size: 18px;
	text-align: center;
}

.footer {
	background-color: #393f4d;
	grid-row: 4/-1;
	grid-column: 1/-1;

	display: grid;
	place-items: center;
}

.footer p {
	font-size: 13px;
	font-weight: normal;
}
